body {
  text-align: center;
  background-color: #ffffff;
}

#level-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin: 8px;
  color: #4b4343;
}
.heading-para{
  color: rgb(106, 48, 133);
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: larger;
  margin: 4px;
  color: grey;
}

.container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}


.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid rgb(248, 245, 245);
  border-radius: 8px;
  box-shadow: 0px 10px 20px -5px grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start-button{
  background-color: rgb(12, 108, 235);
  border: none;
  font-family:"Montserrat", sans-serif ;
  font-size: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.start-button:hover{
  background-color: rgb(119, 154, 250);
}

@media (max-width:400px){
  #level-title{
    font-size: 2rem;
    padding: 20px 0px;
  }



  .container{
    width: 100%;
  }
  .btn{
    width: 100px;
    height: 100px;
    margin: 15px;
    border: 2px solid white;
  }
  .start-button{
    font-size: 24px;
  }
}